body{
    background-color: lightgoldenrodyellow;
    margin: 0;
    justify-content: center;
    align-items: center;
}
.top{
    text-decoration: underline;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.project1{
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.project1:hover{
    color: darkviolet;
}
.project2{
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project2:hover{
    color: darkviolet;
}